*, *::before, *::after {
    box-sizing: border-box;
}

body {
    
}

header {
    width: 50%;
    margin: 2em auto;
    text-align: center;
    color: lightblue;
    background-color: rgba(71, 61, 139, 0.9);
    padding: 1em;
    border-radius: 10px;
}

h1, h2, h4 {
    margin-top: 0;
}

header button {
    background-color: lightblue;
    color: darkslateblue;
    border-radius: 10px;
    border: none;
    padding: 0.5em;
    cursor: pointer;
    outline: none;
}

header button:hover {
    background-color: lightblue;
}

#offline {
    position: absolute;
    top: 1em;
    right: 1em;
    background-color: rgba(135, 207, 235, 0.5);
    padding: 0.5em;
    border-radius: 10px;
    color: maroon;
    margin: 0;
}